.vacationBox {
    border: 1px solid black;
    width: 50%;
    background-color: blue;
    float: left;
}

.checkBox {
    float: right;
}

.vacationBoxDetails {
    text-align: center;
}

.vacationDescription {
    margin-left: 3%;
}